/* ------------------------ */
/* $Catelog */
/* ------------------------ */
/**
* Reset
* Utility
* Colour 
* Typography
* Global
* Components
**/
/* ------------------------ */
/* $Reset */
/* ------------------------ */
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: gray;
  text-decoration: none;
}
ul {
  list-style: none;
  li {
    line-height: 32px;
  }
}

/* ------------------------ */
/* $Utility*/
/* ------------------------ */
.u-cf::after,
.u-cf::before {
  content: "";
  clear: both;
  height: 0;
  display: block;
}

/* ------------------------ */
/* $Colour*/
/* ------------------------ */
$color--primary: hsl(180, 66%, 49%);
$color--primary-dark: hsl(257, 27%, 26%);
$color--secondary: hsl(0, 87%, 67%);
$color--gray: hsl(0, 0%, 75%);
$color--grayish: hsl(257, 7%, 63%);
$color--blue-dark: hsl(255, 11%, 22%);
$color--violet-dark: hsl(260, 8%, 14%);

/* ------------------------ */
/* $Typography */
/* ------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body {
  font-family: "Poppins", sans-serif, Helvetica, Arial;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color--violet-dark;
}
p {
  color: $color--grayish;
  line-height: 32px;
}

/* ------------------------ */
/* $Global*/
/* ------------------------ */
body {
  font-size: 18px;
}
.wrapper {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1172px;
  }
}

// bg

.second-section {
  background-color: rgba($color--grayish, 0.3);
  padding: 80px;
  padding-top: 0;
  z-index: 0;
}
@media (max-width: 768px) {
  .second-section {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .first-section {
    background-size: cover;
    background-position: center;
  }
  .second-section {
    padding: 40px 0px;
  }
}

// btn

.btn {
  padding: 8px 24px;
  min-width: 80px;
  background-color: $color--primary;
  color: white;
  font-family: "Poppins", sans-serif, Helvetica, Arial;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background-color: lighten($color--primary, 20);
  }
  &.btn-lg {
    min-width: 120px;
    padding: 8px 32px;
    font-size: 16px;
    line-height: 32px;
    border-radius: 40px;
  }
}
@media (max-width: 992px) {
  .btn {
    padding: 4px 16px;
  }
}
@media (max-width: 576px) {
  .btn {
    &.btn-lg {
      font-size: 18px;
      padding: 8px 48px;
    }
  }
}

/* ------------------------ */
/* $Components */
/* ------------------------ */
// Header
.header {
  display: grid;
  grid-template-columns: 80% 20%;
  font-weight: 700;

  a {
    &:hover {
      color: $color--violet-dark;
    }
  }
}

.navbar {
  line-height: 80px;
  display: inline-block;
  .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    background: url(../images/logo.svg) no-repeat center left;
    height: 80px;
    width: 150px;
  }
  .nav {
    display: inline-block;
    vertical-align: middle;
    li {
      display: inline-block;
      margin-right: 16px;
      font-size: 18px;
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
}

.login-group {
  line-height: 80px;
  color: $color--grayish;

  .login,
  .signup {
    display: inline-block;
    color: $color--grayish;
    font-size: 14px;
  }
  .login {
    margin-right: 16px;
  }
}
@media (max-width: 992px) {
  .navbar {
    .nav li,
    .login {
      font-size: 14px;
    }
  }
  .login-group {
    .login {
      margin-right: 10px;
    }
  }
}
@media (max-width: 768px) {
  .header {
    display: block;
    .nav,
    .login-group {
      display: none;
    }
    .navbar {
      display: grid;
      grid-template-columns: 80% 20%;
      .hamburger {
        display: block;
        text-align: right;
        i {
          font-size: 32px;
          color: $color--gray;
          transition: 0.2s;
        }
        &:hover i {
          color: $color--primary-dark;
        }
      }
    }
  }
}
// Hero
.hero {
  padding: 80px 40px;
  background: url(../images/illustration-working.svg) no-repeat;
  background-size: 55%;
  background-position: center right -50px;
  margin-bottom: 40px;
  .container {
    width: 60%;
    padding: 80px 0;
    .title {
      font-size: 60px;
      line-height: 70px;
    }
    .subtitle {
      width: 80%;
      font-size: 16px;
      line-height: 32px;
    }
    .started {
      margin-top: 32px;
    }
  }
  .nav-small {
    display: none;
    background-color: $color--primary-dark;
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    position: absolute;
    top: -80px;
    left: 0;
    height: 60vh;
    z-index: 50;
  }
}

@media (max-width: 992px) {
  .hero {
    .container {
      .title {
        font-size: 50px;
        line-height: 60px;
      }
    }
  }
}
@media (max-width: 768px) {
  .hero {
    background-size: 100%;
    background-position: top right -100px;
    .container {
      padding-top: 400px;
      width: 100%;
      text-align: center;
      .title {
        font-size: 50px;
        line-height: 50px;
      }
      .subtitle {
        width: 100%;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
      }
      .started {
        margin-top: 32px;
      }
    }
    .nav-small {
      display: block;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        hr {
          border: 0.5px solid rgba($color--grayish, 0.2);
        }
        li {
          padding: 16px;
          a {
            font-weight: 700;
            color: white;
          }
        }
        .signup {
          width: 100%;
          .btn {
            width: 100%;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 40px 16px;
    .container {
      padding-top: 350px;
      .title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 8px;
      }
    }
    .nav-small {
      padding: 32px;
      top: -40px;
    }
  }
}
@media (max-width: 480px) {
  .hero {
    .container {
      padding-top: 300px;
    }
  }
}
// shortenFunction
.shortenFunction {
  // margin-bottom: 40px;
  // margin-left: 16px;
  // margin-right: 16px;
  // position it off the section
  top: -60px;
  .shortenFunction-inner {
    padding: 40px;
    background: $color--blue-dark url(../images/bg-shorten-desktop.svg);
    border-radius: 8px;
    display: flex;
    margin-bottom: 24px;
  }
  .input-link {
    flex: 5;
    border-radius: 8px;
    padding: 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 18px;

    &:focus {
      box-shadow: 1px 5px 10px rgba(black, 0.5);
    }
    // To be fixed
    &.empty-alert {
      border: 3px solid $color--secondary;
      &::placeholder {
        color: $color--secondary;
        opacity: 0.6;
      }
    }
  }
  .btn--shorten {
    flex: 1;
    border-radius: 8px;
    margin-left: 16px;
  }
}
.empty {
  position: absolute;
  left: 40px;
  bottom: 16px;
  &.empty-text::after {
    content: "Please add a link";
    color: $color--secondary;
    display: block;
    padding-left: 16px;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
  }
}

.shortenResults {
  .result {
    display: flex;
    background-color: #fff;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 16px;
    [class^="original_link-"] {
      flex: 8;
      align-self: center;
    }
    [class^="short_link-"] {
      flex: 3;
      text-align: right;
      padding-right: 16px;
      color: $color--primary;
      align-self: center;
    }
    input {
      outline: none;
      border: none;
      font-size: 18px;
      &::selection {
        background-color: lighten($color--blue-dark, 30);
      }
    }
    .btn {
      flex: 1;
      text-align: center;
      align-self: center;
      border-radius: 8px;
    }
    &.error {
      * {
        color: $color--secondary;
      }
      .btn {
        background-color: $color--primary-dark;
      }
    }
  }
}
@media (max-width: 992px) {
  .shortenFunction-inner {
    .btn--shorten {
      padding: 8px 24px;
      font-size: 14px;
    }
  }
}
@media (max-width: 768px) {
  .shortenFunction-inner {
    padding: 24px;
    flex-direction: column;
    .input-link,
    .btn--shorten {
      flex: 1;
    }
    .btn--shorten {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}

// Features
.features {
  margin: 40px auto;
  text-align: center;
  width: 50%;
}
@media (max-width: 992px) {
  .features {
    width: 100%;
    padding: 16px;
    .title {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 16px;
    }
  }
}
@media (max-width: 480px) {
  .features {
    .title {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 32px;
    }
  }
}
.feature-cards {
  display: flex;
  .card1 {
    margin-bottom: 160px;
  }
  .card2 {
    margin-bottom: 80px;
    margin-top: 80px;
  }
  .card3 {
    margin-top: 160px;
  }
}
.card-linking {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .cards-linking-line-lg,
  .cards-linking-line-sm {
    background-color: $color--primary;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }
}
.cards-linking-line-lg {
  height: 8px;
  width: 50vw;
  display: block;
}
.cards-linking-line-sm {
  display: none;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  padding-top: 80px;
  margin: 16px;
  position: relative;
  .card_icon {
    background-color: $color--blue-dark;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
  }
  .card_title {
    font-size: 18px;
  }
  .card_content {
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 992px) {
  .feature-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    .card1,
    .card2,
    .card3 {
      margin-top: 0;
      margin-bottom: 80px;
    }
  }
  .card {
    padding-top: 60px;
    .card_icon {
      left: 50%;
      transform: translateX(-50%);
    }
    .card_title {
      font-size: 28px;
    }
    .card_title,
    .card_content {
      text-align: center;
    }
  }
  .cards-linking-line-sm {
    height: 60%;
    width: 8px;
    display: block;
  }
  .cards-linking-line-lg {
    display: none;
  }
}

@media (max-width: 480px) {
  .card {
    .card_title {
      font-size: 24px;
    }
  }
}

// Boost
.boost {
  text-align: center;
  padding: 40px;
  background-color: $color--blue-dark;
  background-image: url("../images/bg-boost-desktop.svg");
  .boost_title {
    color: #fff;
    margin-bottom: 32px;
  }
}
@media (max-width: 576px) {
  .boost {
    padding: 80px 16px;
    .boost_title {
      font-size: 40px;
      margin-bottom: 24px;
    }
  }
}
@media (max-width: 480px) {
  .boost {
    .boost_title {
      font-size: 28px;
    }
  }
}

// Footer
.footer {
  background-color: $color--violet-dark;
  color: #fff;
  position: relative;
  padding: 40px;
  .wrapper {
    display: grid;
    grid-template-columns: 40% 40% 20%;
  }
  .logo {
    filter: brightness(600%);
  }
  .nav {
    display: flex;
    .nav_links {
      margin-right: 32px;
      .nav_title {
        margin-bottom: 16px;
      }
      li {
        color: $color--grayish;
        font-size: 14px;
        &:hover {
          cursor: pointer;
          color: $color--primary;
        }
      }
    }
  }
  .socials {
    text-align: center;
    .social-icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .attribution {
    opacity: 0.3;
    padding: 16px;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: lighten(hsl(228, 45%, 44%), 20);
  }
}
@media (max-width: 992px) {
  .footer {
    .wrapper {
      grid-template-columns: 30% 50% 20%;
    }
    .socials {
      margin-left: 16px;
      .social-icon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 16px;
    padding-top: 40px;
    padding-bottom: 80px;
    .wrapper {
      grid-template-columns: 40% 60%;
    }
    .nav {
      .nav_links {
        margin-right: 16px;
        .nav_title {
          margin-bottom: 8px;
          font-size: 14px;
        }
        li {
          font-size: 12px;
          line-height: 24px;
        }
      }
    }
    .socials {
      display: block;
      width: 100%;
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      .social-icon {
        width: 25px;
        height: 25px;
      }
    }
  }
  .attribution {
    top: 40px;
  }
}
@media (max-width: 576px) {
  .footer {
    .wrapper,
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nav {
      .nav_links {
        margin: 0;
        margin-top: 32px;
        text-align: center;
        .nav_title {
          margin-bottom: 8px;
          font-size: 18px;
        }
        li {
          font-size: 14px;
          line-height: 32px;
        }
      }
    }
    .socials {
      position: relative;
      .social-icon {
        height: 40px;
        width: 40px;
      }
    }
  }
}
